{% extends "base.html" %}

{% block title %}Login - BACS{% endblock %}

{% block content %}
    <div class= "container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form" name="LoginForm" action="/user/login/" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <fieldset>
                        <h2>Please Sign In</h2>
                        {% if success_message %}
                            <div class="alert alert-success">
                                <strong>Well done!</strong>
                                <br>
                                <ul class="messages">
                                    {% for message in success_message %}
                                        <li>{{ message }}</li>                                
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if error_message %}
                            <div class="alert alert-danger">
                                <strong>Oh snap!</strong>
                                <br>
                                <ul class="messages">
                                    {% for message in error_message %}
                                        <li>{{ message }}</li>                                
                                    {% endfor %}
                                </ul>    
                            </div>
                        {% endif %}

                        {% if warning_message %}
                            <div class="alert alert-warning">
                                <strong>Warning!</strong>
                                <br>
                                <ul class="messages">
                                    {% for message in warning_message %}
                                        <li>{{ message }}</li>                                
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if info_message %}
                            <div class="alert alert-info">
                                <strong>Heads up!</strong>
                                <br>
                                <ul class="messages">
                                    {% for message in info_message %}
                                        <li>{{ message }}</li>                                
                                    {% endfor %}
                                </ul>    
                            </div>
                        {% endif %}


                        <hr class="colorgraph">
                        <div class="form-group">
                            <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                        </div>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="/user/signup" class="btn btn-lg btn-primary btn-block">Sign Up</a>
                            </div>
                        </div>
                        <a href="/password/recover/">Forgot password?</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}