{% extends "base.html" %}

{% block title %}Sign Up - BACS{% endblock %}

{% block content %}
    <div class= "container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form class="form-horizontal" name="LoginForm" action="/user/signup/" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <fieldset>
                        <h2>Sign Up</h2>
                        <hr class="colorgraph">
                        <p>
                            (*) means required field
                        </p> 

                        {% if success_message %}
                            <div class="alert alert-success">
                                <strong>Well done!</strong>
                                <br>
                                <ul class="messages">
                                    {% for message in success_message %}
                                        <li>{{ message }}</li>                                
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if error_message %}
                            <div class="alert alert-danger">
                                <strong>Oh snap!</strong>
                                <br>
                                <ul class="messages">
                                    {% for message in error_message %}
                                        <li>{{ message }}</li>                                
                                    {% endfor %}
                                </ul>    
                            </div>
                        {% endif %}

                        {% if warning_message %}
                            <div class="alert alert-warning">
                                <strong>Warning!</strong>
                                <br>
                                <ul class="messages">
                                    {% for message in warning_message %}
                                        <li>{{ message }}</li>                                
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if info_message %}
                            <div class="alert alert-info">
                                <strong>Heads up!</strong>
                                <br>
                                <ul class="messages">
                                    {% for message in info_message %}
                                        <li>{{ message }}</li>                                
                                    {% endfor %}
                                </ul>    
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label class="control-label" for="first_name">First Name *</label>
                            <input class="form-control" type="text" id="first_name" name="first_name"  placeholder="First Name">
                            
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="last_name">Last Name *</label>
                            <input class="form-control" type="text" id="last_name" name="last_name"  placeholder="Last Name">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="username">Username *</label>
                            <input class="form-control" type="text" id="username" name="username"  placeholder="Username">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="email">Email *</label>
                            <input class="form-control" type="text" id="email" name="email"  placeholder="Email Address">
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="control-label" for="password">Password *</label>
                            <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                        </div>

                         <div class="form-group">
                            <label class="control-label" for="confirm_password">Confirm Password *</label>
                            <input class="form-control" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="address">Address</label>
                            <textarea class="form-control" type="text" id="address" name="address"  placeholder="Address"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="institution">Institution *</label>
                            <input class="form-control" type="text" id="institution" name="institution"  placeholder="Institution">
                            <p class="help-block">Please write full name of the institution. For example <em>North South University</em></p>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">T-Shirt Size</label>
                            <select name="tshirt_size" class="form-control">
                                <option value="S">Small</option>
                                <option value="M">Medium</option>
                                <option value="L">Large</option>
                                <option value="XL">Extra Large</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">Role *</label>
                            <select name="role" class="form-control">
                                <option value="student">Student</option>
                                <option value="academic">Academic Professional</option>
                                <option value="other">Other</option>
                            </select>
                        </div>

                        <br>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                            <button type="reset" class="btn">Clear</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}