beautifulsoup4==4.6.0
certifi==2017.4.17
cffi==1.11.0
chardet==3.0.4
ConcurrentLogHandler==0.9.1
cryptography==1.7.2
decorator==4.0.11
dj-database-url==0.3.0
Django==1.10.1
django-appconf==1.0.2
django-compressor==2.1.1
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-forms-bootstrap==3.1.0
django-libsass==0.6
django-mailgun==0.9.1
django-modelcluster==3.1
django-redis==4.3.0
django-taggit==0.22.1
django-treebeard==4.1.1
djangorestframework==3.6.3
elasticsearch==1.2.0
gunicorn==19.4.1
html5lib==0.999999999
idna==2.5
ipdb==0.10.3
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
Jinja2==2.9.6
jwt==0.5.2
libsass==0.8.3
MarkupSafe==1.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==2.9.0
prompt-toolkit==1.0.14
psycopg2==2.6.1
ptyprocess==0.5.2
pyasn1==0.3.6
pycparser==2.18
Pygments==2.2.0
pytz==2017.2
rcssmin==1.0.6
redis==2.10.5
requests==2.17.3
rjsmin==1.0.12
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.3
traitlets==4.3.2
typing==3.6.1
Unidecode==0.4.20
urllib3==1.21.1
uWSGI==2.0.11.2
wagtail==2.7.4
wagtailsurveys==0.1.1
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==2.0.4
Willow==0.4
