{% extends "password_reset/base.html" %}{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags crispy_forms_tags %}

{% block content %}
	<br>
	<br>
	<br>

	{% if invalid %}{% url "password_reset_recover" as recovery_url %}
		<div class="alert alert-warning">
			<strong>Wrong Reset Link!</strong>
			<br>
			<p>
				{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}
			</p>
		</div>
		
	{% else %}
		<h4>{% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</h4>
		<form method="post" action="{% url "password_reset_reset" token %}">
			{% csrf_token %}
			{{ form|crispy }}
			<p><input class="btn btn-success" type="submit" value="{% trans "Set new password" %}"></p>
		</form>
	{% endif %}
{% endblock %}
