{% load wagtailcore_tags wagtailimages_tags %}

{% for object in brand %}
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    <a class="navbar-brand" href="/">
    	<span>
    		{% image object.orgnaisation_logo fill-200x200-c100 as logo %}
  			<img src="{{ logo.url }}" alt="{{ logo.alt }}" class="site-logo" />
    	</span>
    	{{ object.organisation_name }}
    </a>
</div>
{% endfor %}