
{% load static navigation_tags wagtailcore_tags %}

    <nav class="navbar" role="navigation">
      <div class="container-fluid">
		<div class="navbar-header">
		{% brand %}
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% for menuitem in menuitems %}
				<li class="{% if menuitem.active %}active{% endif %}">
					<a href="{% pageurl menuitem %}">
						{{ menuitem.title }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
      </div>
  </nav>