{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="jumbotron page-header">
  <h1>Bangladesh Advanced Computing Society</h1>
  <p><strong>Aim of the society</strong></p>
  <p>
Bangladesh Advanced Computing Society is an educational and scientific society that promotes programming students, educators, researchers and professionals in Bangladesh. Bangladesh Advanced Computing Society  likes to further advance the quality of programming practices, software industries and thus create opportunities for hightech industries in Bangladesh. It also aims to induce innovation culture to young generations of computing students and professionals.</p>
<p>
Bangladesh Advanced Computing Society hopes to achieve its goals by strengthening the collective voice through strong leadership, inspiring dialogue, sharing resources, addressing the field’s challenges, promoting the highest standards and recognizing the programming excellence. Bangladesh Advanced Computing Society supports the professional growth of its members by providing opportunities for life-long learning, career development, and professional networking.</p>
  <p><a href="/events" class="btn btn-primary btn-lg">Check our events</a></p>
</div>

<!-- Media Partner and Sponsors -->
<hr />
<div class="row">
  <!-- Media Partner -->
  <div class="col-md-6">
    <h3 class="text-center">Media Partners</h3>
    <div class="text-center">
      <a href="http://radiotodaybd.fm/"><img src="/static/img/logo/media_partner/radio-today.png"/></a>
      <a href="http://www.thedailystar.net/shout"><img src="/static/img/logo/media_partner/shout.png" height="80"/></a>
      <a href="http://www.jamunatv.net/"><img src="/static/img/logo/media_partner/jamuna.jpg"/></a>
      <a href="http://www.prothom-alo.com/"><img src="/static/img/logo/media_partner/prothom-alo.png"/></a>
    </div>
  </div>
  <!-- Sponsors -->
  <div class="col-md-6">
    <h3 class="text-center">Sponsors</h3>
    <div class="text-center">
      <a href="http://www.dsinnovators.com/"><img src="/static/img/logo/sponsor/DSI-enlarged.png"/></a>
      <a href="http://www.ctrends-software.com/"><img src="/static/img/logo/sponsor/ctrends.png"/></a>
    </div>
  </div>
</row>

{% endblock %}
